docx2txt==0.8
networkx==2.5.1
nltk==3.8.1
pyvis==0.1.8.2
spacy==2.3.7
streamlit==1.25.0
textacy==0.10.1
numpy==1.20.2
click==8.0 
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz

